/* ****************************************
************* |WEB APP LAYOUT| ************
**************************************** */
.mc-wrapper {
    width: 100%;
    height: 100vh;
    flex-wrap: wrap;
}

.header {
    z-index: 999;
    width: 100%;
    height: var(--header-h);
    background-color: var(--header-bgnd);
}

.nav-side-bar {
    width: var(--side-bar-w);
    height: calc(100vh - var(--header-h));
    background-image: url(../img/sidebar-bg.png);
    background-color: var(--sidebar-bgnd);

}

.body {
    width: calc(100% - var(--side-bar-w));
    height: calc(100vh - var(--header-h));
    /* debug */
    background-color: aqua;
}

/* BODY INNER LAYOUT */
.body-header {
    width: 100%;
    height: var(--body-header-h);
    background-color: var(--body-header-bgnd);
}



/* ****************************************
***************** |VARIABLES| *************
**************************************** */
/* layout */
:root {
    --side-bar-w: 80px;
    --header-h: 80px;
    --body-header-h: 400px;
}

/* color */
:root {
    /* bgnd */
    --header-bgnd: #F8F9FA;
    --sidebar-bgnd: #051E34;
    --body-header-bgnd: #1B72E8;
}

/* ****************************************
*************** |RESPONSIVE| **************
**************************************** */

@media screen and (min-width:768px) {
    /* layout */
    :root {
        --body-header-h: 180px;
    }
    
}

@media screen and (min-width:900px) {
    /* layout */
    :root {
        --side-bar-w: 180px;
    }
    
}